*:focus {outline: none;}

body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.event_form h2, .event_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}


.event_form li:first-child, .event_form li:last-child {
    border-bottom:1px solid #777;
}

.event_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.event_form li {
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}